<div class="container-fluid" >
  <div class="card-body" id="note_container"> 
    <br>
    <h1>Collections</h1>
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 col-centered">
          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @collections.each do |collection| %>
              <% if collection.user == current_user || current_user.admin?%>
                <tr>
                  <td><%= link_to collection.title, collection %></td>            
                  <td class="td-actions text-right">
                    <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_collection_path(collection) %>
                    <%= link_to '<i class="material-icons">close</i>'.html_safe, collection, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-md-8 col-centered">
        <%= link_to 'New Collection', new_collection_path, class:"btn btn-primary"  %>
      </div>
    </div>

  </div>
</div>