
<div class="card-body", id="note_container">
    <h1>New Note</h1>
    <%= render 'form', note: @note %>
    <br/>
    <%= link_to 'Back', notes_path , class:"btn btn-dark", style:"height:40px;" %>
</div>


