<div class="banner">
            <div class="navbar">
            <%=link_to (image_tag "logoBlanco.png", style: 'padding:0px;height:50px;width:100px' ), home_index_path, class:"logo" %>
            <ul style='padding:10px;'>
                <li><a><%= link_to "Sign Up", signup_path %></a></li>
                <li><a><%= link_to "Log In", login_path %></a></li>
            </ul>
</div>