<body>
    <div class="content">
        <%= javascript_pack_tag 'my_js' %>
        <div class="title">
            &nbsp;&nbsp;&nbsp;&nbsp;Share your notes 
            <div class="slider">
                <div>NOW</div>
                <div>TODAY</div>
                <div>FREE</div>
            </div>
        </div>
        <p>Your favourite notes application where you can create 
        quick notes<br/> with pictures in the easiest way</p>
    </div>
</body>
